.sidebar {
    height: 660px;
    width: 100%;
    border-radius: 21px;
    background-color: #ffffff;
  }
  
  .admin-side-text {
    color: #272727;
    font-family: "Almarai";
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    text-align: right;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .admin-side-text:hover {
    background-color: #272727;
    color: white;
    font-size: 14px;
  }
  .admin-content-text {
    color: #555550;
    font-family: Almarai;
    font-size: 21px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 28px;
    text-align: right;
  }
  .item-delete-edit {
    color: #979797;
    font-family: "Almarai";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    text-align: right;
    cursor: pointer;
  }
  
  .text-form {
    color: #979797;
    font-family: "Almarai";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    text-align: right;
  }
  .input-form {
    height: 37px;
    width: 100%;
    border: 1px solid #979797;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .input-form-area {
    width: 100%;
    border: 1px solid #979797;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .select {
    box-sizing: border-box;
    height: 40px;
    color: #979797;
    width: 100%;
    border: 1px solid #979797;
    border-radius: 8px;
  }
  .btn-save {
    border: none;
    color: white;
    height: 46px;
    width: 150px;
    border-radius: 9px;
    background-color: #272727;
  }
  .btn-save:hover {
    color: rgb(164, 164, 164);
  }
  .btn-a {
    border: none;
    color: white;
    height: 45px;
    border-radius: 9px;
    background-color: #272727;
  }
  .btn-a:hover {
    color: rgb(164, 164, 164);
  }

  .test{
    background-color: #f7f5f5;
    width: 5000px;
  }
  .page-link {
    background-color: #f9f9f9 !important;
    color: #272727 !important;
    border-radius: 10px !important;
    border: solid 1px 272727 !important;
  }
  .page-link:hover {
    background-color: #272727 !important;
    color: white !important;
    border: solid 1px 272727 !important;
  }
  .user-address-card {
    height: 151px;
    width: 98%;
    border-radius: 7px;
  
    background-color: #fefefe;
    box-shadow: 0 2px 3px 0 rgba(23, 22, 22, 0.5);
  }

  .p {
    color: #555550;
    font-family: Almarai;
    font-size: 21px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 28px;
    text-align: center;
  }
  .user-order {
    height: 100%;
    width: 100%;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(6, 6, 6, 0.5);
  }
  .order-title {
    color: #272727;
    font-family: "Almarai";
    font-size: 16px;
    font-weight: bold;
  }
  
  .stat {
    color: #979797;
    font-family: Cairo;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    text-align: right;
  }
  .im{border-radius:10px;
 }

 .user-input {
  box-sizing: border-box;
  height: 37px;
  width: 375px;
  border: 1px solid #979797;
  border-radius: 8px;
}
.title-login {
  color: #555550;
  font-family: Almarai;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 28px;
  text-align: right;
}
.btn-login {
  height: 46px;
  width: 374px;
  border-radius: 9px;
  border: none;
  color: white;
  background-color: #272727;
}
.btn-login:hover {
  color: rgb(206, 204, 204);
}

.b{
  color: #03117b;
}